<h1>Stupid coaching</h1>
<div>
  <p class="text-secondary"><span class="border-start-2"><%= @question %></span></p>
  <p class="text-secondary"><span class="border-start 2">--You</span></p>
</div>
<div class="alert alert-warning">
  <p class="text-secondary"><span class="border-start 2"><%= @answer %></span></p>
  <p class="text-secondary"><span class="border-start 2">--Your coach</span></p>
</div>
