<h1>Stupid coaching</h1>
<p class="text-secondary"><%= @question %></p>
<p class="text-secondary">--You</p>
<div class="alert alert-warning">
  <p class="text-secondary"><%= @answer %></p>
  <p class="text-secondary">--Your coach</p>
</div>
